@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Glezanimals</h1>
</div>
<body>
    <img src="stars.jpg" alt="Cougar on watch">
</body>

