@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Glezanimals</h1>
</div>
<body>
    <img src="http://t0.gstatic.com/images?q=tbn:ANd9GcRYX7OzXk0QHYCVyZua-_oCHFtV-yy8LTWw2__ar_C7xQd7Hp9yMgmSPe64wMlMmoVdUWvYInEQD7q34V_tMTU" alt="Cougar on watch">
</body>

